# SPDX-FileCopyrightText: 2021 Minyong Li <ml10g20@soton.ac.uk>
# SPDX-License-Identifier: CC0-1.0

*
!*.*
!*/

.bsp/
.idea/
db/
incremental_db/
output_files/
simulation/
project/
target/
*.v
*.f
*.fir
*.anno.json
*.txt
